[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
XlsxWriter = "*"
python-vlc = "*"
PyQt5 = "*"
QtAwesome = "*"
Pillow = "*"
pyaudio = "*"
numpy = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = ">=3.6"
